{% extends "base.html.twig" %}
{% block pageContent %}
	<div style="padding: 0px 5px 0px 5px;">
		<div class="tableSubTitle">About</div>
		<p>yt-2005-watch is a YouTube frontend aimed at recreating the good ol' 2005 layout.</p>
		<p>It started by Ian Hiew on November 27 2021, which became unmaintained 2 years later.</p>
		<p>Luckily, I (lime360) have his premission to continue working on this project.</p>
		<h4>Alternatives + Source Code</h4>
		<p>The source code is avilable on <a href="https://codeberg.org/lime360/yt-2005-watch">Codeberg</a>, contributions are always welcome!</p>
		<p>As for alternatives, I recommend checking out <a href="https://poketube.fun/">Poke</a>, which includes a video downloader and an ability to
		subscribe to channels without having an account (even though RSS exists on that purpose).</p>
	</div>
{% endblock %}