<table class="begin-footer" cellspacing="0" cellpadding="10" border="0" align="center">
	<tbody>
		<tr>
			<td valign="center" align="center">
				<span class="footer">
					<a href="about.php">About Us</a>
					|
					<a href="privacy.php">Privacy Policy</a>
					<br><br>Copyright © 2005 YouTube, LLC™. Frontend made by
					<a href="https://lime360.neocities.org/">Lime</a>
					|
					<a href="https://codeberg.org/lime360/yt-2005-watch">Codeberg</a>
				</span>
			</td>
		</tr>
	</tbody>
</table>